PORT=3001
PROJECT_NAME="OrySaas"
NODE_ENV=development

# En production, liste les origines autorisées séparées par des virgules
# Exemple: ALLOWED_ORIGINS=https://www.orysaas.fr,https://admin.orysaas.fr
ALLOWED_ORIGINS=http://localhost:3000

DB_HOST="127.0.0.1"
DB_NAME="orysaas"
DB_PORT="3306"
DB_USERNAME="root"
DB_PASSWORD="root"

SERVER_ID=01

JWT_SECRET="JWT_SECRET_A_GENERER"
DATASOURCE_LOGGING='0'
UUID_SYSTEM='00000000-0000-0000-0000-000000000000'

MAIL_HOST=""
MAIL_PORT=""
MAIL_USER=""
MAIL_PASS=""
MAIL_FROM=""

API_URL=http://localhost:3001/v1
HTTP_URL=http://localhost:3000
PEPPER_REFRESH="OrySaasByOryScorp@2025"
PEPPER_RESET="OrySaasReset@2025"

GOOGLE_CLIENT_ID="id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="code_secret"
FACEBOOK_CLIENT_ID="facebook_app_id"
FACEBOOK_CLIENT_SECRET="facebook_app_secret"
MICROSOFT_CLIENT_ID="microsoft_app_id"
MICROSOFT_CLIENT_SECRET="microsoft_app_secret"
MICROSOFT_TENANT_ID=common

API_KEY_SECRET=